 *{
  margin: 0;
  padding: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
body{
  background: #000;
}
#header{
  background: #00000090;
  backdrop-filter: blur(5px);
  z-index: 99;
  
}